
@{
    ViewBag.Title = "Exchanges";
}

<div class="row">
    <div class="col-12">
        <h3>Previously made exchanges</h3>
    </div>
</div>
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="exchange in userExchanges">
        <td>{{ exchange.TickerFrom }}</td>
        <td>{{ exchange.TickerTo }}</td>
        <td>{{ exchange.Value | currency }}</td>
      </tr>
    </tbody>
  </table>
@section scripts{
    @Scripts.Render("~/bundles/exchanges")
}