[v-cloak] > * {
    display: none
}

[v-cloak]::before {
    content: "carregando..."
}

html, body {
    font-family: Poppins, Roboto !important;
    background-color: #f5f3ee !important;
    /* background-image: linear-gradient(to bottom right, var(--branco), var(--amarelo)); */
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 100% !important;
}

#vueApp {
    height: 100%;
    /* padding: 25px; */
}
