<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <p>
                    <h5>This site is powered by <a target="_blank" href="https://nomics.com/" class="text-light">nomics</a> </h5> 
                    
                </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <h5>follow us on social media</h5>
                <p>
                    <a href="https://github.com/hedgarbezerra" class="text-light" target="_blank"><i class="fab fa-3x fa-github"></i></a>
                    <a href="https://www.facebook.com" class="text-light" target="_blank"><i class="fab fa-3x fa-facebook"></i></a>
                    <a href="https://twitter.com" class="text-light" target="_blank"><i class="fab fa-3x fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/hedgarbezerra" class="text-light" target="_blank"><i class="fab fa-3x fa-linkedin"></i></a>
                </p>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-12">
                <p>
                    <span class="text-light text-muted">&copy; @DateTime.Now.Year Copyright</span> 
                    <a class="text-light" href="https://github.com/hedgarbezerra">hedgarbezerra</a>
                </p>
                
            </div>
        </div>
    </div>    
</footer>